*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
main{
    padding: 3em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: white;
}
.container-options{
    width: 30%;
    padding: 1em;
    display: flex;
    align-items: flex-start;

    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0 hsl(0, 0%, 20%);

    background-color: white;
}
.list-options{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.btn-option{
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}
.editor{
    min-height: 500px;
    width: 500px;

    padding: 1em 0.75em;

    border-radius: 0.5em;
    box-shadow: 0 0 0.60em 0 hsl(0, 0%, 20%);

    background-color: white;
    color: black;
}

