*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --clr-bg-body: #646b72;
    --def-clr-footer: #2e2e2e;
    --hover-clr-footer: #F4F482;
    --hover-clr-twitter_icon: #1A91DA;
    --hover-clr-github_icon: #000;

    --select-clr: #687179;
    --container-clr: #909fad;
}

body{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: var(--clr-bg-body);
}


footer{
    color: var(--def-clr-footer);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: lighter;
}
footer h4{
    cursor: default;
    margin-top: 1em;
}
footer h4:hover{
    color: var(--hover-clr-footer);
}

header{
    padding: 0em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    padding: 3em 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alignment-options, 
.text-options, 
.other-options{
    width: 30%;
    gap: 0.75em;
}
.fsize-wrapper, 
.title-wrapper,
.font-wrapper{
    width: 30%;
    display: flex;
    justify-content: center;
}

.selects{
    width: 50%;
    min-width: 130px;
    padding: 0.175em;
    
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    letter-spacing: 0.040em;

    border: none;
    color: #fff;
    background-color: var(--select-clr);
}
.selects:focus{
    border: none;
    outline: none;
}

.container-options{
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background-color: var(--container-clr);
}

.container-fonts{
    width: 100%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--container-clr);
}

.editor{
    min-height: 30em;
    width: 80%;
    max-width: 1100px;
    padding: 1em 0.75em;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
    background-color: white;
    color: black;
}
.editor:focus{
    outline: none;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.social-links a{
    text-decoration: none;
    color: var(--def-clr-footer);
}
.twitter:hover{
    color: var(--hover-clr-twitter_icon);
}
.github:hover{
    color: var(--hover-clr-github_icon);
}