*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 67%);
}
main{
    padding: 3em 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container-options{
    width: 80%;
    padding: 1em 1.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* box-shadow: 1px 0 0.3rem rgba(0, 0, 0, 0.473); */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background-color: hsl(0, 0%, 93%);
}
.list-options{
    list-style: none;
    display: flex;
    margin: 0 1em;
    gap: 1em;

    /* background-color: lightcoral; */
}

.btn-option{
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.editor{
    min-height: 30em;
    width: 80%;

    padding: 1em 0.75em;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* box-shadow: 0 15px 1rem grey; */
    
    background-color: white;
    color: black;
}
.editor:focus{
    outline: none;
}
