.container{
    width: 80%;
    max-width: 1100px;
}
.list-options{
    list-style: none;
    display: flex;
    justify-content: center;
    /* gap: 1em; */
}


.btn-option{
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-option:hover{
    opacity: 0.7;
}